*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


@mixin displaying(){
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    // @include displaying();
    height:100vh;
}


.wrapper{
    padding: 20px;

    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        
    }
}

.fa-file-code{
    display: inline-block;
    margin-left: 20px;
    margin-right: 3px;
}

.fa-folder{
    color: rgb(0, 85, 255);
    margin: 0px 5px;
}

.addFolderBtn{
    margin: 10px 5px;
    width: 200px;
}

.addFolder{
    display: flex;
    flex-direction: column;
    gap: 10px;
}